# Dependencies
node_modules/

# Build output
build/
dist/

# Local development files
.DS_Store
.idea/
.vscode/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: if you have `.env` files in frontend
# .env
.git
*.md
.gitignore
.angular