/* Page Wrapper */
.page-wrapper {
    padding: var(--padding-primary);
    background-color: #f4f4f4;
    color: #333;

    .page-title{
        color: #114ee4;
    }
}

h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
}

.desc {
    color: grey;
    font-size: .8rem;
}

.todo-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    font-size: .9rem;

    &:hover{
        background-color: #f1f1f1;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

}

/* Checkbox Styles */
.todo-checkbox {
    margin-right: 15px;
    accent-color: #114ee4;
}

.todo-title {
    color: #333;
    transition: text-decoration 0.3s ease;
}

.todo-checkbox:checked+.todo-title {
    text-decoration: line-through;
    color: #999;
}

.todo-item:hover .todo-title {
    color: #333;
}

.todo-item {
    padding-left: 10px;
    padding-right: 10px;
}

.todo-item input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin: 10px;
}

.todo-item span {
    flex: 1;
    color: #333;
    cursor: pointer;
}

/* Hover effect for the checkbox */
.todo-item input[type="checkbox"]:hover {
    background-color: #e0e0e0;
}